@section scripts {
	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/app.js"></script>
}

<div class="page-header">
	<h1>World Cup Soccer API</h1>
</div>

<div ng-app="soccerApp">
	<div class="list-group" ng-controller='TeamController' style="width:300px">
		<div class="list-group-item" ng-repeat="team in teams">
			<h1> {{team.Name}} </h1>
			<section ng-controller="TabController">
				<ul class="nav nav-pills">
					<li ng-class="{ active:isSelected(1)}">
						<a href ng-click="selectTab(1)">Details</a>
					</li>
					<li ng-class="{ active:isSelected(2)}">
						<a href ng-click="selectTab(2)">Players</a>
					</li>
					<li ng-class="{ active:isSelected(3)}">
						<a href ng-click="selectTab(3)">Discussion</a>
					</li>
				</ul>
				<div class="panel" style="height: 200px; overflow: auto">
					<div ng-show="isSelected(1)">
						<p></p>
						<p>Coach: {{team.Coach}}</p>
						<p>FIFA Rank: {{team.Rank}}</p>
						<p>Confederation: {{team.Confederation}}</p>
						<p>Nickname: {{team.Nickname}}</p>
					</div>
					<div ng-show="isSelected(2)">
						<div class="list-group" ng-controller="PlayerController">
							<div class="list-group-item" ng-repeat="player in players" ng-show="player.TeamId === team.Id">
								<h4>{{player.Name}}, #{{player.Number}}</h4>
								<p>{{player.Position}}</p>
							</div>
						</div>
					</div>
					<div ng-show="isSelected(3)" ng-controller="CommentController">
						<blockquote ng-repeat="comment in comments" ng-show="comment.TeamId === team.Id">
							{{comment.Body}}
							<p>--{{comment.Author}}</p>
						</blockquote>
						<form name="commentForm" ng-submit="commentForm.$valid && addComment(team)" novalidate>
							<textarea ng-model="newComment.Body" required></textarea><br /><br />
							<label>by:</label>
							<input type="email" ng-model="newComment.Author" required/>
							<input type="submit" value="Submit" />
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>